
<!-- <div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="pi pi-bars"  ></i>
  </a>
</div>

<div style="padding-left:16px">
  <h2>Responsive Topnav Example</h2>
  <p>Resize the browser window to see how it works.</p>
</div> -->




<nav class="navbar navbar-expand-lg navbar-light bg-light nav-2">
  <img src="../../assets/images/logo.png" alt="" class="img-logo"  [routerLink]="['/']">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
          <form class="form-inline my-3 my-lg-0">
              <input class="form-control mr-sm-3 header-search-form" type="search" placeholder="ค้นหาคอร์สเรียน.......">
              <button class="btn btn-outline-success my-2 my-sm-0 header-search-btn" type="submit"><i class="pi pi-search"></i> ค้นหา</button>
            </form>
      </li>
    </ul>
    <a class="nav-link" [routerLink]="['/courses']" >คอร์สเรียน</a>
    <a class="nav-link" href="#" >เกี่ยวกับเรา</a>
    <a class="nav-link" href="#" style="border-left: 1px solid #90909029;" data-toggle="modal" data-target="#exampleModalCenter"><i class="pi pi-user"></i> เข้าสู่ระบบ / สมัครสมาชิก</a>
  </div>
</nav>

<!-- <div class="row nav-1" >
      <div class="col-12 text-center nav-header" >
        <img src="../../assets/images/logo.png" alt="" class="img-logo"  [routerLink]="['/']">
      </div>
      <div class="col-12 text-center menu-header">
        <a  [routerLink]="['/courses']" >คอร์สเรียน</a>
        <a  href="#" >เกี่ยวกับเรา</a>
      </div>

</div> -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding-top: 0">
        <!-- <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5> -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
              <h3 class="content-form-login" *ngIf="chkForm">เข้าสู่ระบบ</h3>
              <h3 class="content-form-login" *ngIf="!chkForm">สมัครสมาชิก</h3>
              <div class="row">
                <div class="col-lg-6 login-panel-1 ">
                  <form action="#">
                     <div class="content-form-login" *ngIf="chkForm">
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" placeholder="อีเมลล์" >
                          </div>
                          <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" placeholder="รหัสผ่าน" >
                          </div>
                          <button type="submit" class="btn btn login-btn">เข้าสู่ระบบ</button>
                          <p class="forget-password-text">ลืมรหัสผ่าน ?</p>
                     </div>
                     <div class="content-form-login" *ngIf="!chkForm">
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" placeholder="ชื่อ" > &nbsp;&nbsp;
                            <input type="text" class="form-control" placeholder="นามสกุล" >
                          </div>
                          <div class="input-group input-group-sm mb-3">
                              <input type="text" class="form-control" placeholder="อีเมลล์" >
                          </div>
                          <div class="input-group input-group-sm mb-3">
                            <input type="password" class="form-control" placeholder="รหัสผ่าน" >
                          </div>
                          <div class="input-group input-group-sm mb-3">
                            <input type="password" class="form-control" placeholder="ยืนยันรหัสผ่าน" >
                          </div>
                          <button type="submit" class="btn btn login-btn">สมัครสมาชิก</button>
                          <!-- <button type="submit" class="btn btn login-btn">เข้าสู่ระบบ</button> -->
                     </div>

                  </form>
                </div>
                <div class="col-lg-6 login-panel-2">
                    <div class="or-box">
                        <div class="line"></div>
                        <div class="text">หรือ </div>
                        <div class="line"></div>
                      </div>
                    <a class="btn btn-block btn-social btn-facebook content-form-login" >
                      <span class="social-text">
                        <svg class="svg-inline--fa fa-facebook-f fa-w-9" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512" data-fa-i2svg=""><path fill="currentColor" d="M215.8 85H264V3.6C255.7 2.5 227.1 0 193.8 0 124.3 0 76.7 42.4 76.7 120.3V192H0v91h76.7v229h94V283h73.6l11.7-91h-85.3v-62.7c0-26.3 7.3-44.3 45.1-44.3z"></path></svg><!-- <i class="fab fa-facebook-f"></i> --></span>
                        <div >Sign in with Facebook</div>
                    </a>
                    <a class="btn btn-block btn-social btn-google content-form-login" >
                      <span class="social-text">
                          <svg class="svg-inline--fa fa-google fa-w-16" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512" data-fa-i2svg=""><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg></span>
                        <div >Sign in with Google</div>
                    </a>

                </div>
              </div>

              <div class="row ">
                  <div class="col-lg-12 text-right login-footer">
                     <span *ngIf="chkForm"> สมาชิกใหม่? <a (click)="formToggle()" class="btn-register" >ลงทะเบียน</a> ที่นี่</span>
                     <span *ngIf="!chkForm"><a (click)="formToggle()" class="btn-register">เข้าสู่ระบบ</a> ที่นี่</span>
                  </div>
              </div>
      </div>

    </div>
  </div>
</div>
