<div class="row pager">
    <p-sidebar [(visible)]="visibleSidebar2" position="left" [baseZIndex]="10000">
        <div class="menu-tab-header">
            <h6>หมวดหมู่คอร์สเรียน</h6><hr>
         </div>

         <div class="menu-item">
           <div class="menu-text"><i class="pi pi-angle-right"></i> ภาษาไทย</div>
           <!-- <div class="menu-icon"><i class="pi pi-angle-right"></i></div> -->
         </div>
         <div class="menu-item">
            <div class="menu-text"><i class="pi pi-angle-right"></i> ภาษาอังกฤษ</div>
            <!-- <div class="menu-icon"></i></div> -->
          </div>
    </p-sidebar>
    <div class="menu-tab-xs" (click)="visibleSidebar2 = true" >
      <span><i class="pi pi-bars"></i> หมวดหมู่</span>
    </div>
    <div class="col-lg-2 col-sm-12 col-xs-12 menu-tab">

     <div class="menu-tab-header">
        <h6>หมวดหมู่คอร์สเรียน</h6><hr>
     </div>

     <div class="menu-item">
       <div class="menu-text">ภาษาไทย</div>
       <div class="menu-icon"><i class="pi pi-angle-right"></i></div>
     </div>
     <div class="menu-item">
        <div class="menu-text">ภาษาอังกฤษ</div>
        <div class="menu-icon"><i class="pi pi-angle-right"></i></div>
      </div>

    </div>
    <div class="col-lg-10 col-sm-12 col-xs-12">
      <h3>คอร์สเรียนภาษาไทย</h3><hr>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-12 panel-list">
                        <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>222 KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12 panel-list">
                        <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>222 KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12 panel-list">
                        <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>222 KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12 panel-list">
                        <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>222 KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12 panel-list">
                        <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>222 KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12 panel-list">
                        <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>222 KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>
                    </div>

                </div>
    </div>
</div>
