<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <div class="content">

        <div class="grid-item title">
              <img class="img-header" src="Card" src="assets/images/title.png">
        </div>




        <!-- <div class="row " style="margin-top: 60px;height: 80vh;">
          <div class="col-lg-6 col-sm-12 col-xs-12">
                <div style="width: 70%;margin-top:30%;margin-left:10%">
                    <h1>เพิ่มการเรียนรู้ ได้รวดเร็วขึ้น
                    ไร้ขอบจำกัด แค่ห้องเรียน</h1>
                    <p>KB-TUTOR คัดสรรคอร์สคุณภาพและหลากหลายเพื่อคุณ สามารถเข้าถึงเนื้อหาของเราทุกเมื่อที่คุณต้องการเพียงแค่มีอินเตอร์เน็ต.</p>
                </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12" >
            <img src="assets/images/present-001.png" alt="...." style="width: 100%;margin-top:20%;">
          </div>
        </div> -->



        <div class="head-line">
          <div style="float:left">
              <h5>คอร์สเรียนแนะนำ</h5>
          </div>
          <div  class="view-all">
            <p>
              <a href="#"><i class="pi pi-plus-circle"></i> ดูทั้งหมด</a>
            </p>
          </div>
        </div>
        <br>
          <main class="grid-item main">
            <div class="items">
              <div class="item item1">

                    <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']" >
                        <p-header>
                            <img src="Card" src="assets/images/001.png">
                        </p-header>
                        <div >
                          <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                          <br><div style="float: right;">
                              <p style="color : red;">1,999 บาท</p>
                          </div>
                        </div>
                        <p-footer></p-footer>
                      </p-card>

              </div>
              <div class="item item2">

                        <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                            <p-header>
                                <img src="Card" src="assets/images/001.png">
                            </p-header>
                            <div >
                              <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                              <br><div style="float: right;">
                                  <p style="color : red;">1,999 บาท</p>
                              </div>
                            </div>
                            <p-footer></p-footer>
                          </p-card>

              </div>
              <div class="item item3">

                    <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                        <p-header>
                            <img src="Card" src="assets/images/001.png">
                        </p-header>
                        <div >
                          <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                          <br><div style="float: right;">
                              <p style="color : red;">1,999 บาท</p>
                          </div>
                        </div>
                        <p-footer></p-footer>
                      </p-card>

              </div>
              <div class="item item4">

                    <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                        <p-header>
                            <img src="Card" src="assets/images/001.png">
                        </p-header>
                        <div >
                          <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                          <br><div style="float: right;">
                              <p style="color : red;">1,999 บาท</p>
                          </div>
                        </div>
                        <p-footer></p-footer>
                      </p-card>

              </div>
              <div class="item item5">

                    <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                        <p-header>
                            <img src="Card" src="assets/images/001.png">
                        </p-header>
                        <div >
                          <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                          <br><div style="float: right;">
                              <p style="color : red;">1,999 บาท</p>
                          </div>
                        </div>
                        <p-footer></p-footer>
                      </p-card>

              </div>
              <div class="item item6">

                    <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                        <p-header>
                            <img src="Card" src="assets/images/001.png">
                        </p-header>
                        <div >
                          <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                          <br><div style="float: right;">
                              <p style="color : red;">1,999 บาท</p>
                          </div>
                        </div>
                        <p-footer></p-footer>
                      </p-card>

              </div>
              <div class="item item7">

                    <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                        <p-header>
                            <img src="Card" src="assets/images/001.png">
                        </p-header>
                        <div >
                          <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                          <br><div style="float: right;">
                              <p style="color : red;">1,999 บาท</p>
                          </div>
                        </div>
                        <p-footer></p-footer>
                      </p-card>

              </div>
              <div class="item item8">

                    <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                        <p-header>
                            <img src="Card" src="assets/images/001.png">
                        </p-header>
                        <div >
                          <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                          <br><div style="float: right;">
                              <p style="color : red;">1,999 บาท</p>
                          </div>
                        </div>
                        <p-footer></p-footer>
                      </p-card>

              </div>
              <div class="item item9">

                    <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                        <p-header>
                            <img src="Card" src="assets/images/001.png">
                        </p-header>
                        <div >
                          <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                          <br><div style="float: right;">
                              <p style="color : red;">1,999 บาท</p>
                          </div>
                        </div>
                        <p-footer></p-footer>
                      </p-card>

              </div>

            </div>
          </main>


        <div class="head-line" >
            <div style="float:left">
                <h5>คอร์สเรียนยอดนิยม</h5>
            </div>
            <div  class="view-all">
              <p>
                <a href="#"><i class="pi pi-plus-circle"></i> ดูทั้งหมด</a>
              </p>
            </div>
          </div>
          <br>
            <main class="grid-item main">
              <div class="items items-2 ">
                <div class="item item1">

                      <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>222 KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>

                </div>
                <div class="item item2">

                          <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                              <p-header>
                                  <img src="Card" src="assets/images/001.png">
                              </p-header>
                              <div >
                                <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                                <br><div style="float: right;">
                                    <p style="color : red;">1,999 บาท</p>
                                </div>
                              </div>
                              <p-footer></p-footer>
                            </p-card>

                </div>
                <div class="item item3">

                      <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>

                </div>
                <div class="item item4">

                      <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>

                </div>
                <div class="item item5">

                      <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>

                </div>
                <div class="item item6">

                      <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>

                </div>
                <div class="item item7">

                      <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>

                </div>
                <div class="item item8">

                      <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>

                </div>
                <div class="item item9">

                      <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="card-item-size" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">
                                <p style="color : red;">1,999 บาท</p>
                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>

                </div>

              </div>
            </main>
          </div>

</div>
