<div class="container">
    <div class="row pager">
        <div class="col-lg-8 col-sm-8 col-xs-12 left-panel" >
          <h3 class=" course-text-header">เคล็ดลับข้อละล้าน ฉบับ Top Trader</h3>

          <div class="card  text-white course-img-header">
              <img src="../../../assets/images/001.png" class="card-img" alt="...">
              <div class="card-img-overlay">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p> -->
              </div>
            </div>


            <div class="row">
               <div  class="col-12 course-detail">
                 <h5>รายละเอียด</h5><hr>
               </div>
               <div class="col-12 course-detail-content" id="detail-content">
                      <span>
                          <h6>"เคล็ดลับข้อละล้าน ฉบับ Top Trader"</h6>
                          <p>คำถาม...ทำยังไงให้เทรดได้กำไร??</p>
                          <p>คำตอบ...จากประสบการณ์ คำแนะนำ #Mentor</p>
                          <p>สรุปแนวคิด วิธีการ ของ Top trader ระดับโลก</p>
                          <p>ลงมือทำ workshop โดยมีผมเป็นพี่เลี้ยง</p>

                         <h6> #สิ่งที่จะได้รับ</h6>
                         <p> 20 แนวคิดและวิธีการ ทำให้เทรดได้กำไร</p>
                         <p> สิ่งที่ต้องมีก่อนเข้าเรียน</p>
                         <p> #ความจำเป็นต้องเทรดให้สำเร็จ</p>

                          <h6>จินตนาการตามนะครับ #ชอบแบบไหน</h6>
                          <p>เพื่อน ๆ เริ่มต้นเทรดโดย ใช้เงินเก็บทั้งชีวิต</p>
                          <p>01. แต่ไร้ความรู้ ความเข้าใจในการเทรด</p>
                          <p>สุดท้ายก็ต้องล้างพอร์ตขาดทุน ออกจากตลาด</p>
                          <p>02. รู้และเข้าใจตลาด โดยคำแนะนำจาก #mentor</p>
                          <p>รักษาทุนได้ ได้กำไรนิดหน่อย และเพิ่มขึ้นเรื่อยๆ</p>

                         <h6> #เหมาะกับใคร</h6>
                          <p>ใครก็ได้ที่จำเป็นต้องเทรดให้สำเร็จ</p>
                          <p>ใครก็ได้ที่ต้องการเทรดเป็นอาชีพตลอดชีวิต</p>

                          <h6>#คิดก่อนตัดสินใจเรียน</h6>
                          <p>ทุกคอร์สที่ผมสอน</p>
                          <p>มีแนวคิดจากคอร์สนี้เป็นหลัก</p>
                          <p>แล้วพบกันในคลาสครับ</p>
                      </span>
               </div>
               <div class="col-12  readmore" (click)="detailTaggle(true)"  >อ่านทั้งหมด <span class="pi pi-chevron-down"></span></div>
               <div class="col-12  readhide"  (click)="detailTaggle(false)">ย่อเนื้อหา <span class="pi pi-chevron-up"></span></div>
            </div>


            <div class="row">
                <div  class="col-12 course-detail">
                  <h5>เนื้อหาของคอร์สนี้</h5><hr>
                </div>
                <div class="col-12" >
                  <div class="lesson">
                      <span>บทที่ 1 Introduction</span>
                  </div>
                  <div class="lesson-detail">
                        <div class="section-title-left">สิ่งที่คุณจะได้จากคอร์สนี้</div>
                        <div class="section-title-right">
                          <span data-toggle="tooltip" data-placement="top" title="ดูวิดีโอ" data-toggle="modal" data-target=".bd-example-modal-lg">
                              <svg class="svg-inline--fa fa-play-circle fa-w-16" aria-hidden="true" focusable="false" data-prefix="far" data-icon="play-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M371.7 238l-176-107c-15.8-8.8-35.7 2.5-35.7 21v208c0 18.4 19.8 29.8 35.7 21l176-101c16.4-9.1 16.4-32.8 0-42zM504 256C504 119 393 8 256 8S8 119 8 256s111 248 248 248 248-111 248-248zm-448 0c0-110.5 89.5-200 200-200s200 89.5 200 200-89.5 200-200 200S56 366.5 56 256z"></path></svg>
                          </span>
                         <div>12:00</div>
                        </div>

                        <div class="section-title-left">วิธีทำให้ประสบความสำเร็จแบบ 3H</div>
                        <div class="section-title-right">
                          <span data-toggle="tooltip" data-placement="top" title="ดูวิดีโอ">
                              <i class="pi pi-lock"></i>
                          </span>
                         <div>11:00</div>
                        </div>


                  </div>
                </div>


                <div class="col-12">
                    <div class="lesson">
                        <span>บทที่ 2 Introduction</span>
                    </div>
                    <div class="lesson-detail">
                          <div class="section-title-left">สิ่งที่คุณจะได้จากคอร์สนี้</div>
                          <div class="section-title-right">
                            <span data-toggle="tooltip" data-placement="top" title="ดูวิดีโอ">
                               <i class="pi pi-lock"></i>
                            </span>
                           <div>12:00</div>
                          </div>

                          <div class="section-title-left">วิธีทำให้ประสบความสำเร็จแบบ 3H</div>
                          <div class="section-title-right">
                            <span data-toggle="tooltip" data-placement="top" title="ดูวิดีโอ">
                                <i class="pi pi-lock"></i>
                            </span>
                           <div>11:00</div>
                          </div>


                    </div>
                  </div>
            </div>

        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12"  >
            <div class=" order-group text-center ">
                <h4 class="course-text-header  price-text">9,999 บาท <small class="sale-text">15,000 บาท</small></h4>

                <app-orders-modal modalID="orderID" active="0"></app-orders-modal>
            </div>
            <div class="row">
              <div class="well-get">
                  <p>สิ่งที่คุณจะได้รับ</p>
                  <hr>
                  <ul>
                      <li>สามารถเรียนจากที่ไหนก็ได้ เมื่อไรก็ได้ ตลอดชีวิต</li>
                      <li>เนื้อหาทั้งหมด 120 วิดีโอ ความยาวรวมกัน 8 ชั่วโมง 27 นาที</li>
                      <li>ไม่สอนทฤษฎีที่เพื่อน ๆ สามารถหาได้ฟรีจาก Internet</li>
                  </ul>
              </div>
            </div>


        </div>
      </div>
</div>
<!-- Large modal -->
<!-- <button type="button" class="btn btn-primary" >Large modal</button> -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">สิ่งที่คุณจะได้จากคอร์สนี้</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <!-- <span >&times;</span> -->
              <button aria-hidden="true" type="button" class="btn btn-sm btn-danger"(click)="closeModal()" > ปิด</button>
            </button>
          </div>
          <div class="modal-body">
              <iframe id="player" type="text/html"
              src="https://www.youtube.com/embed/2KAoS9fHGlY?autoplay=1&modestbranding=0&showinfo=0"
              frameborder="0"></iframe>
          </div>
    </div>
  </div>
</div>
