
.img-logo {
  width: 160px;
  height: 30px;
  cursor: pointer;
}
.content-form-login {
  animation: animation-name 0.8s ease-out forwards;
}
@keyframes animation-name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu-header {
  a {
    text-decoration: none;
    color: #585858;
    font-size: 1.5rem;
    padding: 1rem;
  }
  a:hover {
    color: #137d9e;
  }

}
.nav-header {
  height: 150px;
  padding: 50px;
  img {
    width: 350px;
    height: 70px;
  }
}
.btn-register {
    cursor: pointer;
    color: #009ec3 !important;
    font-weight: 700;
}

.btn-register:hover {
  color: #000000a3;
  text-decoration-line: underline;
}

.forget-password-text {
    position: absolute;
    font-size: 11pt !important;
    float: right;
    cursor: pointer;
    color: #00000082;
    margin-top: 25px;
    @media screen and (max-width: 500px) {
       margin-top: 0;
     }
     @media screen and (max-width: 768px) {
       margin-top: 0;
     }
}
.forget-password-text:hover {
  color: #000000a3;
  text-decoration-line: underline;
}
.login-footer {
  margin-top: 60px;
  // margin-bottom: -20px;
  span {
    font-size: 12pt;
    font-weight: 100;
  }
}

.or-box {
  display: none;
  width: 100%;
  margin-bottom: 10px;
  .line {
    float: left;
    width: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
  }
  .text {
    float: left;
    width: 30%;
    text-align: center;
    line-height: 41px;
    color: #00000096;
    font-size: 12pt !important;
  }

  @media screen and (max-width: 500px) {
    display: table;
   }
   @media screen and (max-width: 768px) {
    display: table;
   }
}

.btn-social {
  padding: 3px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

   span {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.2em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
   }
   div {
    font-size: 14px !important;
    display: initial;
    color: #fff;
    margin-left: 10%;
   }
}


.btn-facebook {
  cursor: pointer;
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
  border-radius: 27px;
}
.btn-facebook:hover {
  background-color: #204490;
}

.btn-google {
  cursor: pointer;
  color: #fff;
  background-color: #dd4b39;
  border-radius: 27px;
  border-color: rgba(0,0,0,0.2);
}
.btn-google:hover {
  background-color: #c23321;
}

.btn-block {
  display: block;
  color: #fff;
   width: 100%;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-9 {
  width: .5625em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}

svg:not(:root) {
  overflow: hidden;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}


.login-btn {
  color:#fff;
  background-color: #03984b;
  border-color: #03984b;
  border-radius: 30px;

}
.login-btn:hover {
  color:#fff;
  background-color: #04b358;
  border-color: #04b358;

}
.login-panel-1 {
  padding: 20px;
  border-right: 1.1px solid #00000014;
  // margin-left: 60px;
  @media screen and (max-width: 500px) {
    margin-left: 0;
    border: 0 ;
   }
   @media screen and (max-width: 768px) {
    margin-left: 0;
    border: 0 ;
   }
}
.login-panel-2 {

  padding: 20px;

  // margin-left: 60px;
  @media screen and (max-width: 500px) {
    margin-left: 0;
    padding-top: 0;
   }
   @media screen and (max-width: 768px) {
    margin-left: 0;
    padding-top: 0;
   }
}

.modal-header {
  border: 0;
  padding-bottom: 0;
}
.modal-content {
  border: 0;
  border-radius: 0;
  box-shadow: 3px 6px 10px 1px #1d1c1c96;
}
.navbar-nav {
  margin-left: 43px;
  // margin-left: 60px;
  @media screen and (max-width: 500px) {
    margin-left: 0;
   }
   @media screen and (max-width: 768px) {
    margin-left: 0;
   }
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0.3rem 1rem;
  box-shadow: 0px 0px 5px 0px #888888;
  a {
    color:#585858;
    font-size: 12pt;

  }
  a:hover {
    color:#137d9e;
    font-weight: 500;
  }

}
.header-search-form {
  border-radius: 35px;
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
}
.header-search-btn {
  border-radius: 35px;
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
}
.bg-light {
  background-color: #fff !important;
}
